.active {
    background-color: darkgrey !important;
    /* font-weight: bold; */
    
    transition: background-color 0.1s ease, box-shadow 0.1s ease;
    box-shadow: 0 0 5px darkgrey;
    --bs-table-bg:none;
  }

.active td{
color: white!important;
}
.colorthead tr{
  background-color:black !important;
  
  --bs-table-bg:none;
}
.colorthead td{
  color: white !important;
  --bs-table-bg:none;
}