.selectedphuoc {
  background-color: darkgrey !important;
  /* font-weight: bold; */
  
  transition: background-color 0.1s ease, box-shadow 0.1s ease;
  box-shadow: 0 0 5px darkgrey;
  --bs-table-bg:none;
}

.selectedphuoc td{
color: white!important;
}

